<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>SmartFarm - 농장일지</title>
        <link href="css/dailyreport.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="wrap">
            <div id="head">
                <div class="nav">
                    <h2 class="logo">스마트팜</h2>
                    <h4 class="sublogo">스마트팜 관리시스템</h4>
                    <div class="menugroup">
                        <div class="menu01">
                            <a href="/monitoring" class="menu_on">
                                <span>농장상태 모니터링</span>
                            </a>
                        </div>
                        <div class="menu02">
                            <a href="/dailyreport" class="menu_on">
                                <span>농장 일지</span>
                            </a>
                        </div>
                        <div class="menu03">
                            <a href="/sensor" class="menu_on">
                                <span>센서 기록 조회</span>
                            </a>
                        </div>
                        <div class="menu04">
                            <a href="/camera" class="menu_on">
                                <span>촬영 기록 조회</span>
                            </a>
                        </div>
                    </div>
                    <div class="log-box">
                        로그인 상태입니다.
                        <a class="btn btn-logout m110" href="login-page.html" >로그아웃</a>
                    </div>
                </div>
            </div>
<!--메뉴 라인-->
            <div id="container">
                <div id="contents">
<!--탑 라인-->                   
                    <div class="top">           
                        <form method="post">
                            <fieldset>
                                <legend>검색하기</legend>
                                        <itr>
                                            <itd>
                                                <label>식물</label>
                                            </itd>
                                            <itd>
                                                <input type="text" name="plant" style=" height: 15px; width: 200px;">
                                            </itd>
                                        </itr>
                                        <itr>
                                            <itd>
                                                <label>작성일자</label> 
                                            </itd>
                                            <itd>
                                                <input type="text" name="date" style=" height: 15px; width: 200px;">
                                            </itd>
                                        </itr>
                                <div class="btn_menu">
                                    <div class="write_btn">
                                        <a href="/newreport" class="menu_on">
                                            <span>작성하기</span>
                                        </a>
                                    </div>
                                    <div class="search_btn">
                                        <button class="btn btn_default btn_md" type="button" onclick="">검 색</button> <!--나중에 검색 메서드 추가하기-->
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
<!--리스트 라인-->                                                           
                    <div class="updateTarget">
                        <div class="table_box">
                            <table class="table table_list" summary="'번호, 식물, 내용, 작성일자' 으로 구성">
                                <caption><!--목록--></caption>                               
                                <colgroup>
                                    <col width="5%">
                                    <col width="15%">
                                    <col width="62%">
                                    <col width="10%">
                                    <col width="4%">
                                    <col width="4%">
                                </colgroup>
                                <thread>
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">식물</th>
                                        <th scope="col">내용</th>
                                        <th scope="col">작성일자</th>
                                        <th scope="col">수정</th>
                                        <th scope="col">삭제</th>
                                    </tr>
                                </thread>
                                <!--내용-->
                                <tbody>
                                    <% prodList.forEach(function(item, index){ %>
                                        <tr>
                                            <td><%=item.seq %></td>
                                            <td><%=item.plant %></td>
                                            <td><%=item.report %></td>
                                            <td><%=item.report_date %></td>
                                            <td>
                                                <a href="/dailyreport/edit/<%=item.seq %>">수정</a>
                                            </td>
                                            <td>
                                                <a href="/dailyreport/delete/<%=item.seq %>">삭제</a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
<!--웹 워터마크 라인-->

            <div id="tail">
            </div>
        </div>
    </body>
</html>